$main-font: 'Roboto', sans-serif;
$font-weight: 500;
$font-style: normal;
$line-height: calc(16 / 12);
$white-color: #ffffff;
$orange-color: #ff6b08;
$orange-second-color: #eb6308;
$red-color: #ff001b;
$green-color: #1baa1b;

$bcg-main-color: #e5e5e5;
$bcg-footer-color: #f7f7f7;
$footer-text-color: #545454;
$card-text-color: #000000;
$active-button-color: #ff6b01;
$main-logo-color: #818181;
$catd-info-color: #8c8c8c;
$backdrop-color: rgba(0, 0, 0, 0.25);

// container width
$to-tablet: 767px;
$tablet: 768px;
$to-desktop: 1023px;
$desktop: 1024px;

// gradient color
$header-gradient-color: rgba(0, 0, 0, 0.56);

//Переходы и анимация
$transition-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
