<label for="genre">Поиск по
    <select name="genre" id="genre">
        <option default>жанрам</option>
        {{#each this}}
        <option value="{{id}}">{{name}}</option>
        {{/each}}
</label>