
<li class="gallery__list">
    {{#each this}}
    <img src="{{}}" alt="{{}}" class="gallery__image">
    <h2 class="gallery__title">{{}}</h2>
    <p class="gallery__text">{{}}</p>
    {{/each}}
</li>