<ul class="pagination_container">
    <li class="pagination_item pagination_left">&larr;</li>
    <li class="pagination_item pagination_first pagination_current">1</li>
    <li class="pagination_item">2</li>
    <li class="pagination_item">3</li>
    <li class="pagination_item pagination_mobile-out visually-hidden"></li>
    <li class="pagination_item pagination_mobile-out visually-hidden">5</li>
    <li class="pagination_item pagination_mobile-out visually-hidden"></li>
    <li class="pagination_item pagination_mobile-out visually-hidden"></li>
    <li class="pagination_item pagination_mobile-out visually-hidden">&hellip;</li>
    <li class="pagination_item pagination_end pagination_mobile-out visually-hidden"></li>
    <li class="pagination_item pagination_right">&rarr;</li>
</ul>