    <ul class="pagination_list">
        <li class="pagination_item pagination_left">&larr;</li>
        <li class="pagination_item pagination_first pagination_desktop">1</li>
        <li class="pagination_item pagination_desktop">&hellip;</li>
        <li class="pagination_item pagination_desktop"></li>
        <li class="pagination_item"></li>
        <li class="pagination_item">5</li>
        <li class="pagination_item"></li>
        <li class="pagination_item pagination_desktop"></li>
        <li class="pagination_item pagination_desktop">&hellip;</li>
        <li class="pagination_item pagination_end pagination_desktop"></li>
        <li class="pagination_item pagination_right">&rarr;</li>
    </ul>
