
<ul class="pagination_container">
    <li class="pagination_item pagination_left">&larr;</li>
    <li class="pagination_item pagination_first pagination_current"></li>
    <li class="pagination_item"></li>
    <li class="pagination_item"></li>
    <li class="pagination_item "></li>
    <li class="pagination_item "></li>
    <li class="pagination_item pagination_mobile-out visually-hidden"></li>
    <li class="pagination_item pagination_mobile-out visually-hidden"></li>
    <li class="pagination_item pagination_mobile-out visually-hidden">&hellip;</li>
    <li class="pagination_item pagination_end pagination_mobile-out visually-hidden"></li>
    <li class="pagination_item pagination_right">&rarr;</li>
</ul>