<div class="pagination_container">
    <button class="pagination_item pagination_left">&larr;</button>
    <button class="pagination_item pagination_first pagination_current">1</button>
    <button class="pagination_item">&hellip;</button>
    <button class="pagination_item"></button>
    <button class="pagination_item pagination_mobile-out visually-hidden"></button>
    <button class="pagination_item pagination_mobile-out visually-hidden">5</button>
    <button class="pagination_item pagination_mobile-out visually-hidden"></button>
    <button class="pagination_item pagination_mobile-out visually-hidden"></button>
    <button class="pagination_item pagination_mobile-out visually-hidden">&hellip;</button>
    <button class="pagination_item pagination_end pagination_mobile-out visually-hidden"></button>
    <button class="pagination_item pagination_right">&rarr;</button>
</div>