 
  {{#each this.results}}
    <li>
      <div>

          
        <div>
          <img src="https://image.tmdb.org/t/p/w500/{{poster_path}}" />
          <p>{{title}}</p>
                  
        </div>
     
      
  {{/each}}


   // Тестовый шаблон пока основного нет. Потом этот файл удалится