<header id="go-up" class="header header__background-home container" data-index="header">
    <nav class="nav" data-index="navigation">
        <a href="" class="nav-logo logo-style">
            <svg class="nav-logo-icon">
                <use href="./images/sprite.svg#icon-film"></use>
            </svg>
            <span class="logo-text">Filmoteka</span>
        </a>
        <div class="nav__style-container selected" data-index="nav__style-container">
            <a href="#" class="nav__auth-link" data-index="nav__auth-link">
                <i class="material-icons auth__icon">person_outline</i>
            </a>
            <p class="nav__auth-text" data-index="nav__auth-text">Sign In</p>
        </div>
        <button class="nav-btn current" data-index="home">HOME</button>
        <button class="nav-btn" data-index="mylibrary">MY LIBRARY</button>
    </nav>
    <div data-index="headerDinamicContent"></div>
</header>