.go-up__link {  
  position: fixed;
  z-index: 9;
 // bottom: 20px;
 // right: 20px;
  padding: 3px;
  border: solid 3px rgba(0, 0, 0, 0.24);
  border-radius: 50%;
  text-decoration: none;
  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 1));
  transition: border 200ms linear;

  display: flex;
  justify-content: center;
  align-items: center;
}

.go-up__link:hover,
.go-up__link:focus {
  border: solid 3px rgba(0, 0, 0, 0.6);
}

.go-up__icon {
 // width: 26px;
  //height: 24px;
  fill: rgba(0, 0, 0, 0.24);
  transition: fill 200ms linear;
}

.go-up__link:hover .go-up__icon,
.go-up__link:focus .go-up__icon {
   fill: rgba(0, 0, 0, 0.6)
}

@media screen and (max-width: 767px) {
  .go-up__link {
    //width: 25px;
   // height: 25px;

    bottom: 10px;
    right: 8px;
  }
  .go-up__icon {
    width: 17px;
    height: 17px;
  }
}
@media screen and (min-width: 768px) {
  .go-up__link {
   // width: 35px;
   // height: 35px;

    bottom: 13px;
    right: 12px;
  }
  .go-up__icon {
    width: 21px;
    height: 21px;
  }
}
@media screen and (min-width: 1024px) {
  .go-up__link {
    //width: 50px;
   // height: 50px;

    bottom: 20px;
    right: 20px;
  }
  .go-up__icon {
    width: 26px;
    height: 26px;
  }
}
