.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity $timing-function $transition-duration;
  z-index: 100;
}

.modal.is-open {
  display: flex;
  opacity: 1;
  pointer-events: initial;
}

.modal__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal__container {
  overflow-x: auto;

  position: relative;
  margin: auto;
  background-color: $white-color;
  font-family: $main-font;
  font-weight: $font-weight;
  // font-size: $font-size;
  // line-height: $line-height;
  color: $card-text-color;
  max-height: 100vh;
  width: 280px;
  padding: 48px 20px 41px 20px;

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    display: flex;
    margin: auto;
    width: 618px;
    height: 562px;
    padding: 42px 29px 40px 28px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    width: 882px;
    height: 568px;
    padding: 50px 30px 40px 30px;
  }
}
.image {
  margin-right: auto;
  margin-left: auto;
  display: block;

  max-width: 240px;
  height: 356px;
  border-radius: 5px;
  margin-bottom: 30px;
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    max-width: 264px;
    height: 373.55px;
  }
  @media screen and (min-width: $desktop) {
    max-width: 396px;
    height: 477.8px;
  }
}
.film__image {
  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
}
.film__information {
  text-align: start;
}

.film__title {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 20px;
  @media screen and (min-width: $desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__item {
  display: flex;
  margin-bottom: 10px;
}
.film__details {
  color: $catd-info-color;
  min-width: 108px;
}

.film__info--uper {
  text-transform: uppercase;
  line-height: 1.17;
}

.film__rating--orange {
  padding-left: 10px;
  padding-right: 10px;
  color: $white-color;
  background-color: $active-button-color;

  border-radius: 5px;
}
.film__rating--divider {
  margin-right: 3px;
}

.film__about__title {
  text-transform: uppercase;
  margin-top: 10px;
  margin-bottom: 10px;
}
.film__about__text {
  line-height: 1.67;
 // margin-bottom: 21px;
}
.film__button__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.film__button {
  width: 136px;
  height: 44px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: $white-color;
  cursor: pointer;
  border: 1px solid $card-text-color;
  transition: all $transition-duration $timing-function;
  margin: 10px 0 0;
  &:hover,
  &:focus {
    background-color: $orange-color;
    color: $white-color;
    border: 1px solid $orange-color;
  }
  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    width: 125px;

    &:first-child {
      margin-right: 15px;
    }
    
  }
  @media screen and (min-width: $desktop) {
    width: 136px;

    &:not(:last-child) {
      margin-right: 15px;
    }
  }
}

// .film__button:not(:last-child) {
//   margin-right: 15px;
// }

.close__button {
  position: absolute;
  top: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
  // width: 48px;
  // height: 48px;
  padding: 18px;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: white;
  cursor: pointer;
  transition: background-color $transition-duration $timing-function;
  outline: none;
  background-image: url('../images/close-modal.svg');
  background-position: center;
  background-size: 60%;
  background-repeat: no-repeat;
}

.company {
  display: none;

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__item {
    display: block;
  }

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__img {
    max-height: 20px;
  }

  @media screen and (min-width: $tablet) and (max-width: $to-desktop) {
    display: block;
    position: absolute;
    bottom: 5%;
    right: 50%;
    left: 0%;

    &__img {
      max-height: 44px;
    }
  }

  @media screen and (min-width: $desktop) {
    display: block;
    position: absolute;
    bottom: 10%;
    right: 5%;

    &__img {
      max-height: 54px;
    }
  }
}

// ====================  Team Modal (begin) ====================
.team__container {
  position: relative;
  overflow-x: auto;
  padding: 20px 0;
  font-family: $main-font;
  font-weight: $font-weight;
  color: $card-text-color;
  max-height: 100vh;
  width: 65%;

  @media screen and (min-width: $tablet) {
    width: 430px;
  }
  @media screen and (min-width: $desktop) {
    width: 912px;
    height: 568px;
    padding: 0;
    font-size: 18px;
    overflow-x: visible;
  }
}
.team__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: $tablet) {
    width: 100%;
    height: 100%;
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop) {
  }
}
.teamate {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  width: 180px;
  height: 340px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: $orange-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:last-child {
    margin-bottom: 0px;
  }

  @media screen and (min-width: $tablet) {
    width: 200px;
    height: 370px;
    &:nth-last-child(2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop) {
    width: 160px;
    height: calc((100% - 10px) / 2);
    margin-bottom: 0;
    background-color: $bcg-footer-color;
    &:hover .name,
    &:focus .name {
      color: white;
    }
    &:hover,
    &:focus {
      background-color: $orange-color;
    }
  }
}

.teamate_photo {
  width: 100%;
  height: 100%;
  background-size: cover;
  // border: 3px solid $bcg-footer-color;
  border-radius: 5px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.name {
  width: 100%;
  text-align: center;
  padding: 2px;
  margin: 0;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (min-width: $desktop) {
    color: black;
  }
}
.photo-and-links {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  @media screen and (min-width: $desktop) {
    &:hover .teamate__links,
    &:focus .teamate__links {
      transform: translatey(-22%);
      opacity: 1;
    }
  }
}
.teamate__links {
  position: absolute;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  padding: 0;
  opacity: 0;
  transition: opacity 180ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  @media screen and (max-width: $desktop) {
    opacity: 1;
    transform: translatey(-18%);
  }
}

.link-svg {
  width: 44px;
  height: 44px;
  fill: $bcg-footer-color;
  cursor: pointer;
  background-color: $orange-color;
  border: 1px solid $orange-color;
  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $orange-color;
    background-color: $bcg-footer-color;
    border: 1px solid $bcg-footer-color;
  }
}

.close__button.team {
  position: fixed;
  padding: 0;
  top: 5%;
  right: 7%;
  width: 40px;
  height: 40px;
  background-color: $bcg-footer-color;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  & .close__svg {
    stroke: $orange-color;
  }
  &:hover,
  &:focus {
    background-color: $bcg-footer-color;
  }
  &:hover .close__svg,
  &:focus .close__svg {
    stroke: $orange-color;
  }
  @media screen and (min-width: $tablet) {
    height: 60px;
    width: 60px;
  }
  @media screen and (min-width: $desktop) {
    position: absolute;
    top: 15px;
    right: -8%;
    &:hover .close__svg,
    &:focus .close__svg {
      stroke: $bcg-footer-color;
    }
    &:hover,
    &:focus {
      background-color: $orange-color;
    }
  }
}
.close__svg {
  height: auto;
  width: auto;
  pointer-events: none;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

// ====================  Team Modal (end) ====================
